.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #282c34;
}

.App-header {
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;

  margin-top: 25px;
  margin-bottom: 25px;
}

.App-main-section {
  width: 550px;
  padding-bottom: 50px;
}

.App-rate-card {
  margin-bottom: 10px;
}







.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
